<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ bootstrap_css }}">
            <link rel="stylesheet" href="{{ boostrap_icons_css }}">
            <link rel="stylesheet" href="{{ font_awesome_css }}">
            <link rel="stylesheet" href="{{ base_css }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ jquery_js }}"></script>
            <script src="{{ bootstrap_js }}"></script>
            <script src="{{ flashes_js }}"></script>
        {% endblock %}
    </head>
    <body>
        {% if loggedUser is not null %}
            {% include 'menu.html.twig' %}
        {% endif %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show app-flash-box" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </body>
</html>
