{% form_theme mealTagForm 'bootstrap_5_horizontal_layout.html.twig' %}
{{ form_start(mealTagForm) }}
<div class="row">
	<div class="col-auto text-nowrap">{{ form_label(mealTagForm.name, 'Přidat nový') }} </div>
	<div class="col-auto">{{ form_widget(mealTagForm.name) }}</div>
	<div class="col-auto">{{ form_row(mealTagForm.submit, {'label': 'Přidat'}) }}</div>
</div>
{{ form_end(mealTagForm) }}
