{% if not filters.empty %}
	<div class="accordion mb-2" id="accordionFilters">
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingOne">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					Filtry
				</button>
			</h2>
			<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFilters">
				<div class="accordion-body">
					{{ form(filterForm) }}
				</div>
			</div>
		</div>
	</div>
{% endif %}
<div class="container">
	{% if not filters.withValue.empty %}
		<div class="mb-2">
			aktivní:
			{% for filter in filters.withValue %}
				{% if filter.isFilterMultiSelect %}
					{% for selectValue, selectValueFilterView in filter.valuesForView %}
						<a href="{{ path('mealList', filters.asParametersArray(filter, selectValue)) }}" class="btn btn-sm btn-secondary mb-1">{{ selectValueFilterView }} <i class="fa fa-xmark"></i></a>
					{% endfor %}
				{% else %}
					<a href="{{ path('mealList', filters.asParametersArray(filter)) }}" class="btn btn-sm btn-secondary mb-1">{{ filter.valueForView }} <i class="fa fa-xmark"></i></a>
				{% endif %}
			{% endfor %}
			<div class="d-grid mt-2 mb-2">
				<a href="{{ path('mealList') }}" class="btn btn-outline-danger">Zrušit filtry</a>
			</div>
		</div>
	{% endif %}
	{% for meal in meals %}
		<div class="row app-list-row app-list-row-sm">
			<a href="{{ path('mealDetail', {url: meal.url}) }}" class="app-list-row-header col">
				<div class="row">
					<span class="col" style="max-width: 5.4em">
						<img
								src="{{ meal.image|checkNoImg(meal) }}"
								alt="{{ meal.name }}"
								class="app-list-icon-sm"
						>
					</span>
					<span class="col">
						<h4>{{ meal.name }}</h4>
					</span>
				</div>
			</a>
			{% if meal.mealTags is not empty or loggedUser.isMealFavourite(meal) or loggedUser.isAbleToPrepareMeal(meal) %}
				<div class="mt-2">
					{% if loggedUser.isMealFavourite(meal) %}
						<span class="badge bg-danger">Oblíbené <i class="fa-solid fa-heart"></i></span>
					{% endif %}
					{% if loggedUser.isAbleToPrepareMeal(meal) %}
						<span class="badge bg-warning">Umím připravit <i class="fa fa-spoon"></i></span>
					{% endif %}
					{% for mealTag in meal.mealTags %}
						<span class="badge bg-primary">{{ mealTag.name }}</span>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	{% endfor %}
</div>