<div class="container">
	{{ form(filterForm) }}
	{% for meal in meals %}
		<div class="row app-list-row app-list-row-sm">
			<a href="{{ path('mealDetail', {url: meal.url}) }}" class="app-list-row-header col">
				<div class="row">
					<span class="col" style="max-width: 5.4em">
						<img
								src="{{ meal.image|checkNoImg(meal) }}"
								alt="{{ meal.name }}"
								class="app-list-icon-sm"
						>
					</span>
					<span class="col">
						<h4>{{ meal.name }}</h4>
					</span>
				</div>
			</a>
			{% if meal.mealTags is not empty %}
				<div class="mt-2">
					{% for mealTag in meal.mealTags %}
						<span class="badge bg-primary">{{ mealTag.name }}</span>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	{% endfor %}
</div>